<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user_app/css/bootstrap.css' %}">
    <title>Base</title>
</head>
<body style="background-color: rgb(173, 173, 173);">
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'user_app:home' %}">Navbar</a>
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'user_app:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'user_app:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                      {% if usre.is_authenticated %}
                      <a class="nav-link" href="{% url 'user_app:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'user_app:login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                      {% csrf_token %}
                      {{ meg.as_p }}
                      <a class="nav-link" href=""></a>
                    </li>
                  </ul>
              </div>
          </nav>
    </div>
    {% block content %}
      <h1>the base</h1>
    {% endblock content %}
</body>
</html>